h1{
    background-color: gray;
}
ul{
    color: indigo;
    background-color: khaki;
    width: 400px;
}
ol{
    color:maroon;
    background-color: mediumaquamarine;
    width: 400px;
}
p{
    font-style: italic;
}

.menu{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
}